#how-to-play-scoreboard li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-sm);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  width: 200px;
}
#how-to-play-scoreboard li img {
  width: var(--button-icon-size);
  height: auto;
  margin-left: 0;
  vertical-align: middle;
}
.scoreboard-columns {
  margin-top: -30px;
  margin-left: -20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  position: relative;
}

.scoreboard-columns ul {
  padding-inline-start: 0;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.scoreboard-columns ul:first-child {
  justify-self: start;
}

.scoreboard-columns ul:last-child {
  justify-self: end;
}

.scoreboard-columns::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 48%;
  width: var(--border-width);
  background: var(--color-accent-light);
  width: var(--spacing-xs);
  height: 90%;
  border-radius: var(--border-radius);
  margin: var(--spacing-md);
  z-index: 0;
}

.scoreboard-columns li {
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.scoreboard-columns li img {
  width: 32px;
}

li {
  border: var(--border-solid-tertiary);
  border-radius: var(--border-radius);
  color: var(--color-secondary);
  background-color: var(--color-bg-light);
}
