body {
  min-height: 100vh;
  font-family: "GringoNights";
}

#how-to-play-body {
  background-image: url("/assets/img/10_external_img/start-screen-backgreound.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#how-to-play-main {
  position: absolute;
  z-index: 1;
  left: 70%;
  top: 60%;
  transform: translate(-50%, -50%);
}
#how-to-play-scoreboard {
  background-image: url("/assets/button/board.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  height: 500px;

  position: absolute;
  z-index: 1;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#how-to-play-scoreboard li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  width: 200px;
}
#how-to-play-scoreboard li img {
  width: 32px;
  height: auto;
  margin-left: 16px;
  vertical-align: middle;
  padding-left: 0;
}
.scoreboard-columns {
  margin-top: -30px;
  margin-left: -20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  position: relative;
  justify-items: center;
}

.scoreboard-columns::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background: rgba(204, 119, 34, 0.8);
  width: 8px;
  height: 90%;
  border-radius: 10px;
  margin: 5px;
  z-index: 2;
}

.scoreboard-columns li {
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.scoreboard-columns li img {
  width: 32px;
}
#start-game-btn,
#how-to-play-btn,
#settings-btn,
#highscore-btn {
  background-color: rgba(204, 119, 34, 0.8);
  border-radius: 10px;
  margin: 5px;
}
li {
  border: solid 2px rgb(155, 52, 46);
  border-radius: 10px;
  color: rgb(99, 33, 31);
  background-color: rgb(244, 238, 150);
}
@media only screen and (max-width: 720px) and (max-height: 800px) {
  #how-to-play-scoreboard{
    background-image: none;
    position: absolute;
    top:70%
  }
}
