.menu-overlay .menu-drawer {
  padding: var(--spacing-xxxl);
  max-height: 85vh;
}

#scoreboard img {
  max-width: 90%;
  max-height: 60%;
  object-fit: contain;
  transition: max-width var(--transition-standard),
    max-height var(--transition-standard);
}

.headline {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  width: 80%;
  text-align: center;
  z-index: 1;
  transition: font-size var(--transition-standard),
    top var(--transition-standard);
}

@media only screen and (max-width: 1290px) and (max-height: 800px) {
  .headline {
    top: 20%;
    font-size: 52px;
  }
}

@media only screen and (max-width: 1100px) and (max-height: 800px) {
  .headline {
    top: 27%;
    font-size: 38px;
  }
}

@media only screen and (max-width: 720px), (max-height: 720px) {
  .headline {
    top: 32%;
    font-size: 28px;
    width: 85%;
  }
}

@media only screen and (max-width: 500px) and (orientation: landscape),
  (max-height: 500px) and (orientation: landscape) {
  .headline {
    top: 30%;
    font-size: 16px;
    width: 70%;
  }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
  .headline {
    top: 30%;
    font-size: 22px;
    width: 80%;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .headline {
    top: 30%;
    font-size: 14px;
    width: 70%;
  }
}

@media only screen and (max-width: 400px), (max-height: 400px) {
  .headline {
    font-size: 16px;
    width: 75%;
  }
}
